.hide
  #{ @path = '/#bluesky' }

.text-wrapper
  .inner
    .project-title
      %h2 Blue Sky
      %span Client Work - Febuary 2013

.project-image
  .image-wrapper= image_tag('blue_sky/courses_1.png')
.project-image
  .image-wrapper= image_tag('blue_sky/courses_2.png')
.project-image
  .image-wrapper= image_tag('blue_sky/assessment_admin_view.png')
.project-image
  .image-wrapper= image_tag('blue_sky/assessment_question_modal.png')
.project-image
  .image-wrapper= image_tag('blue_sky/assessment_finish_1.png')
.project-image
  .image-wrapper.no-border= image_tag('blue_sky/assessment_mobile_2.jpg')
.project-image
  .image-wrapper.no-border= image_tag('blue_sky/assessment_mobile_finish_1.jpg')
.project-image
  .image-wrapper= image_tag('blue_sky/course_nav.png')
.project-image
  .image-wrapper.no-border= image_tag('blue_sky/home_mobile_2.jpg')

.hide
  .text-wrapper
    .inner-wrapper
      %p
        To develop these necessary understandings I conducted interviews with:
        Blue Sky product managers, the Blue Sky CEO, the Blue Sky Sales and
        Marketing teams, Blue Sky engineers supporting the legacy app, internal
        "Platform Admins" who administer Blue Sky client accounts. I also
        studied as many existing client accounts as I could get access to. I was
        not allowed to interview or conduct tests with existing Blue Sky
        clients, but doing so would have been extreamly valuable.

      %p
        Blue Sky Broadcast offeres a business to business product for various
        organizations in industries from architecture and insurace to physics
        and pharmaceuticals. Blue Sky captures event presentations and lectures,
        archives the content online and delivers online courses created from the
        captured content to facilitate contined education or certification and
        accreditation for the memebers of their clients organizations.

  .project-image
    .image-wrapper= image_tag('blue_sky/legacy_1.jpg')
  .project-image
    .image-wrapper= image_tag('blue_sky/legacy_2.jpg')
  .project-image
    .image-wrapper= image_tag('blue_sky/legacy_3.jpg')
  .project-image
    .image-wrapper= image_tag('blue_sky/legacy_4.jpg')
  .project-image
    .image-wrapper= image_tag('blue_sky/legacy_5.jpg')
