.hide
  #{ @path = '/#cardless' }

.text-wrapper
  .inner
    .project-title
      %h2 Cardless
      %span Personal Project - December 2013

.project-image
  .image-wrapper.no-border= image_tag('cardless/contacts_1.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/contact_profile_1.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/contact_profile_2.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/my_profile.png')
