.hide
  #{ @path = '/#cardless' }

.text-wrapper
  .inner
    .project-title
      %h2 Cardless
      %span Personal Project - December 2013

    %p
      A side-project I worked on with Alex Baldwin, Cardless is a professional
      networking app designed to replace business cards and simplify the means
      by which professional connections are captured and stored.
    %p
      Business cards are annoying to carry around, annoying to receive and hang
      onto and when you need them you often don’t have any. Cardless replaces
      the traditional business card transaction with the exchange of an email
      address.
    %p
      At networking events we observed many people capturing new professional
      connections by handing their phones over to others so that they could type
      out their contact info in social networking and email apps. This insight
      prompted us to build a prototype app to test the idea. Bellow are
      screenshots of the functional app built as a responsive web application
      with Ruby on Rails.

.project-image
  .image-wrapper.no-border= image_tag('cardless/contacts_1.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/my_profile.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/contact_profile_2.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/contact_profile_1.png')
