:javascript
  analytics.page("edx project")

.hide
  #{ @path = '/#edx' }

.text-wrapper
  .inner
    .project-title
      %h2 edX
      %span Client Work - May 2012
    %p
      Working with the edX team at MIT, I designed the first version of their
      public facing pages. Our goal was to highlight the course offerings and
      the participating universities as well as provide deeper insight on course
      structure and requirements.

.project-image
  .image-wrapper= image_tag('edx/edx-home.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-login.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-courses.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-course.jpg')
