.hide
  #{ @path = '/#edx' }

.text-wrapper
  .inner
    .project-title
      %h2 edX
      %span Client Work - May 2012

.project-image
  .image-wrapper= image_tag('edx/edx-home.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-login.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-courses.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-course.jpg')
