.hide
  #{ @path = '/#giftofknowledge' }

.text-wrapper
  .inner
    .project-title
      %h2 Gift of Knowledge
      %span Client Work - January 2013
    %p
      A simple application for setting up recurring donations to public
      schools. The core of the application was the donation form.

.project-image
  .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_school_landing.jpg')
.project-image
  .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_school_donate.jpg')
.project-image
  .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_thankyou.jpg')
.project-image
  .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_create_account.jpg')
.project-image
  .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_faq.jpg')
