.hide
  #{ @path = '/#hound' }

.text-wrapper
  .inner
    .project-title
      %h2 Hound
      %span A thoughtbot Product - Winter 2015

    %p
      Hound is a SASS product designed, built and maintained by thoughtbot. It
      evolved out of a side-project started by a developer in the San Francisco
      office.  In addition to product design and implementation I contributed to
      product planning and customer growth. Highlighted below is work I did for
      a redesign of the home page and general interface improvements.

.project-image
  .image-wrapper= image_tag('hound/home.jpg')
.project-image
  .image-wrapper= image_tag('hound/dashboard.jpg')
.project-image
  .image-wrapper= image_tag('hound/docs.jpg')
.project-image
  .image-wrapper= image_tag('hound/faq.jpg')
