.hide
  #{ @path = '/#hound' }

.text-wrapper
  .inner
    .project-title
      %h2 Hound
      %span A thoughtbot Product - Winter 2015

    %p
      Hound is a developer tool that automates code style-checking, helping
      developers save time during code reviews while promoting a cleaner and
      more consistently written codebase.
    %p
      When a user activates Hound on a GitHub repo, Hound will review and
      comment on style violations for every pull request that is opened.
    %p
      Hound is a SASS product designed, built and maintained by thoughtbot. In
      addition to product design and implementation I contributed to product
      planning, customer support and efforts aimed at growing our active
      customer base.
    %p
      Highlighted below is a redesign of the home page, the beginnings of
      improved onboarding and some general interface/visual improvements.

.project-image
  .image-wrapper= image_tag('hound/home.jpg')
.project-image
  .image-wrapper= image_tag('hound/dashboard.jpg')
.project-image
  .image-wrapper= image_tag('hound/docs.jpg')
.project-image
  .image-wrapper= image_tag('hound/faq.jpg')
