.hide
  #{ @path = '/#hound' }

.text-wrapper
  .inner
    .project-title
      %h2 Hound
      %span A thoughtbot Product - Winter 2015

.project-image
  .image-wrapper= image_tag('hound/home.jpg')
.project-image
  .image-wrapper= image_tag('hound/dashboard.jpg')
.project-image
  .image-wrapper= image_tag('hound/docs.jpg')
.project-image
  .image-wrapper= image_tag('hound/faq.jpg')
