.hide #{ @path = '/#respond-evaluation' }

.text-wrapper
  .inner
    .project-title
      %h2 Supporting quick and effective product evaluation
      %span Intercom Growth team - Spring 2017

    %h6 The team and my role
    %p Our team included a PM, a User Research, two engineers and myself as the product designer. I would  own the design of the solution from concept to final interaction and visual design and collaborte with PM, Research, Engineerring and external stakeholders thorughout the project.

.project-image.hide
  .inner
    %iframe{:src => 'https://marvelapp.com/8h94b14?emb=1', :width => '100%', :height => '605px', :allowTransparency => 'true', :frameborder => '0'}

.text-wrapper
  .inner
    %h6 Context
    %p In the spring of 2017, a primary company goal was to make our help desk product, Respond, meet the needs of larger businesses. To achieve this, the Respond product team in Dublin, Ir would be adding new features and integrations to Respond. Our team was responsible for the growth of Respond and wondered how we might contribute to this goal.

    %p Once the product did a better job of meeting the needs of larger businesses, could we make it easier for these businesses to switch to our product?

    %h6 Research questions
    %p
      %ul
        %li How do CS  managers choose a new Help Desk product?
        %li What is it like for them to evaluate our product?

    %h6 The user journey for switching help desks
    %p We Interviewed customer support  managers who were looking for a new help desk or had recently switched, and developed a detailed understanding of the user journey for switching help desks.

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/user-journey.png')

.text-wrapper
  .inner
    %p Observing research participants evaluate our product gave us insight on where we had the most opportunity for improvement, and informed our focus.

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/user-journey-focus.png')

.text-wrapper
  .inner
    %h6 The problem
    %p Challenges and blockers exist for people who try to evaluate our product. The more difficult it is to evaluate, the less likely people are to switch.

    %h6 Our hypothesis
    %p If we could make our product quicker to effectively evaluate than competitor products, we would have a competitive advantage.

    %h6 The challenge
    %p How might we enable people to quickly know if Intercom Respond meets their Help Desk requirements?

    %p Using a design sprint format, we assessed competitive products and explored possible solutions as a team

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/design-sprint.png')

.text-wrapper
  .inner
    %p I distilled themes from our design sprint into distinct concepts. Below are a few example wireframes.

.project-image
  .inner
    .image-wrapper.no-border= image_tag('intercom/respond-evaluation/wireframe-concepts.png')

.text-wrapper
  .inner
    %h6 Prototyping and testing
    %p We had concepts that addressed different types of people and problems and we wanted to test each of them individually, but we also wanted to see if they could work together as a system.

.project-image
  .inner
    .image-wrapper.no-border= image_tag('intercom/respond-evaluation/prototype-architecture.png')

.text-wrapper
  .inner
    %h6 Choose your own adventure
    %p Proposal: Provide multiple paths for evaluating to accommodate different evaluation preferences.

    %p We had learned that some people are really motivated to evaluate by diving into the product and exploring on their own. Others prefer to be guided and shown how things work.

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/choose-your-adventure.png')

.text-wrapper
  .inner
    %h6 Video tour
    %p Proposal: Use a video to demonstrate features and workflows, for people who prefer to be shown how a product works.
    %p In testing our prototype linked to a video with content similar to the video we would make.

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/video_tour.png')

.text-wrapper
  .inner
    %h6 Feature list
    %p Proposal: A comprehensive list of features for quick comparison against a list of requirements.
    %p This would also provided a path for those who prefer to start evaluation by reading through documentation.

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/feature_list.png')

.text-wrapper
  .inner
    %h6 Example data
    %p Proposal: Create a demo inbox with example conversations so people can evaluate the product through self guided exploration.

    %p This would enable people to discover and interact with features and workflows to better understand the admin experience.

    %p Example conversations would give us an opportunity to bring out some of the magic of the Respond product. Things like rich user profiles, gifs, emojis and the chat style UI help demonstrate the natural, personal feel that customers love.

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/example_data_unassigned_open_1.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/example_data_unassigned_closed_1.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/example_data_mentions_1.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/example_data_you_open_1.png')

.text-wrapper
  .inner
    %h6 Discovery mode
    %p Proposal: Provide contextual information about features, that can be revealed in a self guided way. 

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/discovery_mode_start_1.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/discovery_mode_start_2.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/discovery_mode_conversation_list.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/discovery_mode_message_composer.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/discovery_mode_user_profile.png')

.text-wrapper
  .inner
    %h6 Demo messenger
    %p Proposal: Create a demo messenger that can be used to experience conversations from the admin and end-user perspective without having to install the messenger on a live site.

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/multiplayer_start.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/multiplayer_demo_page_1.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/multiplayer_demo_page_2.png')

.project-image
  .inner
    .image-wrapper= image_tag('intercom/respond-evaluation/multiplayer_demo_inbox_1.png')

.text-wrapper
  .inner
    %h6 Conslusion
    %p Our solutions were very successful in testing, but a new company priority required our teams resources and we had to put the project on hold. Before pausing we scoped a v1 for final design and implementation.

    %h6 Scoping and next steps
    %p.custom-bullet
      %span.emoji-bullet ✅
      %strong Choose your adventure:
      simplify to a welcome page with just the video tour
    %p.custom-bullet
      %span.emoji-bullet ✅
      %strong Video tour:
      work with product education to create a storyboard
    %p.custom-bullet
      %span.emoji-bullet ❌
      %strong Feature list:
      product marketing to build a feature list on the marketing site
    %p.custom-bullet
      %span.emoji-bullet ✅
      %strong Example content:
      work with marketing and content strategy to finalize example content
    %p.custom-bullet
      %span.emoji-bullet ❌
      %strong Discovery mode:
      effective in testing but dropped to keep v1 scope small
    %p.custom-bullet
      %span.emoji-bullet ✅
      %strong Demo messenger:
      very useful and the technical infrastructure already exists
