.hide
  #{ @path = '/#kinscape' }

.text-wrapper
  .inner
    .project-title
      %h2 Kinscape
      %span Client Work - Spring 2014

.project-image
  %video{width: '100%', controls: true}
    %source{src: "/images/kinscape/demo.mp4", type: 'video/mp4'}
.project-image
  .image-wrapper= image_tag('kinscape/stories.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/family_1.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/family_2.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/full_profile.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/published_story.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_1.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_2.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_3.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_4.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_5.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/request_story_1.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/request_story_2.jpeg')
