.hide
  #{ @path = '/#kinscape' }

.text-wrapper
  .inner
    .project-title
      %h2 Kinscape
      %span Client Work - Spring 2014

    %h6 The Challenge
    %p
      Design and build a family social network where family members can connect
      through privately shared stories and archive video, audio, images and
      other media.

    %h6 The Sollution
    %p
      As the sole designer I led the kickoff the project with a week long
      design sprint. Our goal of this sprint was to get on board with our
      clients vision and get up to speed with where the project had come from,
      where it is now and where it could go. During the sprint we also developed
      a better understanding of our clients business goals so that we could best
      align product development with a clear business strategy.
    %p
      By the end of the sprint week we had identified the “story telling”
      component of the clients vision to be the most central to everything else
      they wanted to facilitate through the product. This gave us a clear
      starting point to being iteratively developing the product from.
    %p
      Over the following weeks we designed, tested and refined an
      in-line-editable story creation tool and the ability to share stories into
      private groups. We conducted interviews and usability tests to make sure
      we where build something useful, usable and desirable.

.project-image
  %video{width: '100%', controls: true}
    %source{src: "/images/kinscape/demo.mp4", type: 'video/mp4'}
.project-image
  .image-wrapper= image_tag('kinscape/stories.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/family_1.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/family_2.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/full_profile.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/published_story.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_1.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_2.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_3.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_4.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_5.jpeg')

.text-wrapper
  .inner
    %p
      Based on prior research and considerations for product growth mechanisms
      we introduced functionality that enabled users to request stories from
      existing and non-existing users.

.project-image
  .image-wrapper= image_tag('kinscape/request_story_2.jpeg')
