.hide
  #{ @path = '/#kinscape' }

.text-wrapper
  .inner
    .project-title
      %h2 Kinscape: Story telling for families
      %span thoughtbot - Spring 2014

    %p
      Kinscape enables families to connect through privately shared stories that are saved as  memories to create a living family history.

.project-image
  %video{width: '100%', controls: true}
    %source{src: "/images/kinscape/demo.mp4", type: 'video/mp4'}

.text-wrapper
  .inner
    %p
      I worked with a thoughbot developer and a non-technical client team. My role was to lead product strategy and user research and own the design of the product from concept to final interaction and visual design. I would also impliment all of the product UI.
    %p
      To build a powerful story telling tool we needed to understand story telling in the context of families.
      Through interviews, research and experimentation with prototypes, we
      learned about the ways people share stories, what motivates story
      telling and the things that make it difficult.
    %p
      For Kinscape to work we needed to give all family members the to ability
      to tell great stories with little investment. To do this, we put media
      like videos, images and audio, media that people where already using to
      tell and share stories, at the heart of our story structure. This
      architecture enabled users to put together stories using media like
      building blocks that they could then elaborate on with captions and
      narrative.

.project-image
  .image-wrapper= image_tag('kinscape/story_1.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/published_story.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_2.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_3.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/story_4.jpeg')

.text-wrapper
  .inner
    %p
      To ensure privacy, stories can only be shared with families you’re a part
      of. In the case captured below the user is not part of a family and has to
      create one in order to share their story.

.project-image
  .image-wrapper= image_tag('kinscape/story_5.jpeg')

.text-wrapper
  .inner
    %p
      A family is a private group. New members are added by existing members.

.project-image
  .image-wrapper= image_tag('kinscape/family_1.jpeg')
.project-image
  .image-wrapper= image_tag('kinscape/family_2.jpeg')

.text-wrapper
  .inner
    %p
      The Storyscape is an index of all the stories from all of the families a
      user is a part of. Basic searching, sorting and filtering functionality
      give users the ability to browse and revisit stories as the number of
      stories grows.

.project-image
  .image-wrapper= image_tag('kinscape/stories.jpeg')

.text-wrapper
  .inner
    %p
      Stories that you are working on are saved as drafts in a private section
      of your profile until you share them.

.project-image
  .image-wrapper= image_tag('kinscape/full_profile.jpeg')

.text-wrapper
  .inner
    %p
      We learned that some people would only tell a story if they knew others wanted to hear it. This insight motivated us
      to build a feature that enabled users to request stories from existing and
      invited family members.

.project-image
  .image-wrapper= image_tag('kinscape/request_story_2.jpeg')
