:javascript
  analytics.page("segment project)

.hide #{ @path = '/#segment' }

.text-wrapper
  .inner
    .project-title
      %h2 Crafting a new marketing story and home page
      %span Segment - Fall 2015

    %p
      Our challenge was to improve the existing product marketing story and product positioning to better communicate core product value.

    %p
      We interviewed dozens of existing customers to understand what the core value of the product was for them and the language they use to describe it. Insights from these interviews gave us directions to start exploring new stories and product positioning.

    %p
      We used ideas and feedback from teams internally to develop story concepts and converge on themes.

.project-image.group
  .inner
    .image-wrapper= image_tag('segment/copy_iteration_1.jpg')
    .image-wrapper= image_tag('segment/copy_iteration_2.jpg')

.text-wrapper
  .inner
    %p
      We used design sprint expercises like mind-maping and time restricted sketching to quickly
      generate supporting visuals.

.project-image
  .inner
    .image-wrapper.no-border= image_tag('segment/sketching_graphics_1.jpg')

.text-wrapper
  .inner
    %p
      We quickly prototyped our concepts with the new visuals and got input from
      teammates in various departments.

.project-image
  .inner
    .image-wrapper= image_tag('segment/concept_layups.jpg')

.text-wrapper
  .inner
    %p
      To test our concepts we built low fidelity prototypes, and recruited participants for comprehension testing.
    %p
      We itterated on our designs as themes energed in our research.

.project-image
  .inner
    .image-wrapper.no-border= image_tag('segment/prototypes.jpg')

.text-wrapper
  .inner
    %p
      After 4 iterations and 20 testing session we had a final design that effectivly communicated Segments core product value.

.project-image
  .inner
    .image-wrapper= image_tag('segment/prototype_final.jpg')
