.hide
  #{ @path = '/#segment' }

.text-wrapper
  .inner
    .project-title
      %h2 Segment Marketing Site
      %span Fall 2015

    %h6 The Challenge
    %p
      Our challenge was to improve the effectiveness of communication on our
      marketing site by starting with a redesign of the home page.
    %p
      Segment sales and support teams were spending excessive amounts of time
      educating customers on what Segment is and isn’t, and it became clear our
      marketing site wasn’t doing its job. Poor conversion rates from home page
      through to successful account creation also informed our focus.
    %p
      As a young company still working to define itself, the challenges of
      clearly communicating what we are and what our value is went deeper than
      just the marketing site. Internally there were a lot of different opinions
      and interviews revealed a wide range of ways in which people explained our
      product.

    %h6 The Solution
    %p
      Working with
      = link_to 'Carolann Bonner,', 'https://twitter.com/carolanncan',
        target: '_blank'
      we began by understanding and internalizing the problem. We then took time
      to quickly familiarize our selves with relevant strategies for thinking
      about and approaching the problem.
    %p
      Identifying an underlying concept that framed Segment in terms of “data
      access, completeness and correctness” gave us a starting point. With this
      concept and insights gained through “jobs to be done” interviews, we begin
      diverging on possible solutions.
    %p
      We used feedback from teams internally to iterate on various story
      concepts. Themes started to emerge and enabled us to converge on a smaller
      set of ideas. This exercise also help to influence more internal alignment
      with how we think about and describe our product.

.project-image.group
  .inner
    .image-wrapper= image_tag('segment/copy_iteration_1.jpg')
    .image-wrapper= image_tag('segment/copy_iteration_2.jpg')

.text-wrapper
  .inner
    %p
      Our next step was to take the remaining concepts and build upon them with
      visuals. We used mind-maps and time restricted exercises to quickly
      generate many ideas.

.project-image
  .inner
    .image-wrapper.no-border= image_tag('segment/sketching_graphics_1.jpg')

.text-wrapper
  .inner
    %p
      We quickly prototyped our concepts with the new visuals and got input from
      teammates in various departments. This enabled us to eliminate more ideas
      and focus in on a smaller set of concepts. 

.project-image
  .inner
    .image-wrapper= image_tag('segment/concept_layups.jpg')

.text-wrapper
  .inner
    %p
      After eliminating and converging we were ready to test the remaining ideas
      with our target audience. We built low fidelity prototypes, recruited
      testers and used Google Hangouts to facilitate the tests. By linking to
      JPGs of our prototypes and using the screen-sharing functionality we were
      able to make observations and ask questions while the tester remained
      comfortable in their natural environment.
    %p
      From left to right: Prototype 1, 2, 3 and 4:

.project-image
  .inner
    .image-wrapper.no-border= image_tag('segment/prototypes.jpg')

.text-wrapper
  .inner
    %p
      After four prototype iterations and ~20 testing session we had a final
      version that we felt would be a solid starting point for improving the
      effectiveness of the communication on our marketing site. A lot of what we
      learned set us up for making larger architectural changes to the rest of
      the marketing site.

.project-image
  .inner
    .image-wrapper= image_tag('segment/prototype_final.jpg')
