---
---

%header.portfolio
  %article
    .title.gradient-border
      .inner-wrapper
        .avatar{style: "background-image: url(#{image_path('avatar.jpg')})"}
        %h1
          %strong Galen
          %span A product designer in San Francisco, CA
    %nav
      = link_to 'Portfolio', '#gallery', class: 'view-gallery'
      = link_to 'LinkedIn', 'https://www.linkedin.com/in/galenfrechette',
        target: '_blank'
      = link_to 'Instagram', 'https://instagram.com/g_a_l_e_n/',
        target: '_blank'

.container
  #gallery
    %section.exhibit
      %article.intro
        .inner
          %h2 Product Design
          %p
            Successful product design results in products and solutions that are
            useful, usable and desirable and drive business sustainability. I
            aim to achieve this by using design thinking, the combination of
            empathy, creativity and rationality, to understand and solve
            problems in a human centered way.
          %p
            A product development process that is driven by design thinking can be broken into three phases:
          %ol
            %li
              %p
                %strong Understanding the problem,
                %span
                  the people with the problem and the situation in which they
                  experience the problem so that we are enabled to create
                  powerful solutions.
            %li
              %p
                %strong Generating a large diversity of solution concepts
                %span
                  to uncover opportunities that we may have otherwise never
                  discovered or considered.
            %li
              %p
                %strong Qualitatively and quantitatively testing ideas
                %span
                  so that we can confidently focus on refining and implementing
                  the most appropriate and viable solution.
          %p
            A product design process that internalizes design
            thinking is a core driver of innovation and a defensible business
            strategy.

      %article.examples
        %figcaption
          .inner
            %p
              %strong Design Thinking Sample:
              = link_to 'projects/segment' do
                Segment Marketing Site - Fall 2015
        %figure
          .inner
            = link_to 'projects/segment' do
              = image_tag('design_thinking_example_2.jpg')

    %section.exhibit
      %article.intro
        .inner
          %h2 Engineering
          %p
            I love to build things. I always have. A lot of my childhood was
            spent building with legos and constructing vehicles out of wagons,
            scooters and anything I could find in our garage and workshop.
          %p
            As a product designer I have implemented most of the interfaces and
            interactions I have designed. Through close collaboration with engineers I
            continually strengthen my technical skills and often write tests,
            javascript and server-side code.

      %article.examples
        %figcaption
          .inner
            %p
              %strong Engineering Sample:
              = link_to 'https://github.com/frechg/wiggle-audit-tool',
                target: '_blank'  do
                Wiggle Audit Tool - Spring 2014
        %figure
          .inner.engineering
            = link_to 'https://github.com/frechg/wiggle-audit-tool',
              target: '_blank'  do
              = image_tag('wiggle_audit_tool_4.png')

    %section.exhibit
      %article.intro
        .inner
          %h2 Visual Design
          %p
            The true beauty of a product is in how it works. Visual design, in
            the context of software, is first and foremost about affordances and
            communication. The value of beautiful aesthetics is greatest when a
            product is already useful, usable and desirable.

      %article.examples
        %figcaption
          .inner
            %p
              %strong Visual Samples:
              = link_to '#' do
                Select screenshots from various projects.
        %figure
          .inner.visual
            = link_to '#' do
              = image_tag('visual_sample.png')

    %section.exhibit
      %article.intro
        .inner
          %h2 More Work Samples
          %p
            I’ve had the opportunity to work on and play a central role in a
            wide variety of software projects with a diverse set of businesses.
            From leading early stage startups in the conception, design and
            implementation of the first version of their product to helping
            established business redesign, improve and grow existing products.

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Hound
              %span Winter 2015 - thoughtbot Product
          %figure
            = link_to '#hound', class: 'show-more' do
              .image-wrapper= image_tag('hound/cover.jpg')

        .modal#hound
          = link_to '', '#', class: 'close'
          %ul.project-images
            %li.project-image
              .image-wrapper= image_tag('hound/home.jpg')
            %li.project-image
              .image-wrapper= image_tag('hound/dashboard.jpg')
            %li.project-image
              .image-wrapper= image_tag('hound/docs.jpg')
            %li.project-image
              .image-wrapper= image_tag('hound/faq.jpg')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Kinscape
              %span Spring 2014 - Client Project
          %figure
            = link_to '#kinscape', class: 'show-more' do
              .image-wrapper= image_tag('kinscape/stories.jpeg')

        .modal#kinscape
          = link_to '', '#', class: 'close'
          %ul.project-images
            %li.project-image
              %video{width: '100%', controls: true}
                %source{src: "/images/kinscape/demo.mp4", type: 'video/mp4'}
            %li.project-image
              .image-wrapper= image_tag('kinscape/stories.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/family_1.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/family_2.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/full_profile.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/published_story.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/story_1.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/story_2.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/story_3.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/story_4.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/story_5.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/request_story_1.jpeg')
            %li.project-image
              .image-wrapper= image_tag('kinscape/request_story_2.jpeg')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Blue Sky
              %span Febuary 2013 - Client Project
          %figure
            = link_to '#blue-sky', class: 'show-more' do
              .image-wrapper= image_tag('blue_sky/assessment_finish_1.png')

        .modal#blue-sky
          = link_to '', '#', class: 'close'
          %ul.project-images
            %li.project-image
              .image-wrapper= image_tag('blue_sky/courses_1.png')
            %li.project-image
              .image-wrapper= image_tag('blue_sky/courses_2.png')
            %li.project-image
              .image-wrapper= image_tag('blue_sky/assessment_admin_view.png')
            %li.project-image
              .image-wrapper= image_tag('blue_sky/assessment_question_modal.png')
            %li.project-image
              .image-wrapper= image_tag('blue_sky/assessment_finish_1.png')
            %li.project-image
              .image-wrapper.no-border= image_tag('blue_sky/assessment_mobile_2.jpg')
            %li.project-image
              .image-wrapper.no-border= image_tag('blue_sky/assessment_mobile_finish_1.jpg')
            %li.project-image
              .image-wrapper= image_tag('blue_sky/course_nav.png')
            %li.project-image
              .image-wrapper.no-border= image_tag('blue_sky/home_mobile_2.jpg')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Cardless
              %span December 2013 - Personal Project
          %figure
            = link_to '#cardless', class: 'show-more' do
              .image-wrapper= image_tag('cardless/cover_2.png')

        .modal#cardless
          = link_to '', '#', class: 'close'
          %ul.project-images
            %li.project-image
              .image-wrapper.no-border= image_tag('cardless/contacts_1.png')
            %li.project-image
              .image-wrapper.no-border= image_tag('cardless/contact_profile_1.png')
            %li.project-image
              .image-wrapper.no-border= image_tag('cardless/contact_profile_2.png')
            %li.project-image
              .image-wrapper.no-border= image_tag('cardless/my_profile.png')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Tenant.io
              %span 4th Place, 2013 Rails Rumble - 48 hrs
          %figure
            = link_to '#tenant', class: 'show-more' do
              .image-wrapper= image_tag('tenant/cover.jpg')

        .modal#tenant
          = link_to '', '#', class: 'close'
          %ul.project-images
            %li.project-image
              .image-wrapper= image_tag('tenant/tenant_home.jpg')
            %li.project-image
              .image-wrapper= image_tag('tenant/tenant_dashboard.jpg')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Gift of Knowledge
              %span January 2013 - Client Project
          %figure
            = link_to '#gift-of-knowledge', class: 'show-more' do
              .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_school_donate.jpg')

      .modal#gift-of-knowledge
        = link_to '', '#', class: 'close'
        %ul.project-images
          %li.project-image
            .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_school_landing.jpg')
          %li.project-image
            .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_school_donate.jpg')
          %li.project-image
            .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_thankyou.jpg')
          %li.project-image
            .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_create_account.jpg')
          %li.project-image
            .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_faq.jpg')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 edX
              %span May 2012 - Client Project
          %figure
            = link_to '#edx', class: 'show-more' do
              .image-wrapper
                = image_tag('edx/cover.jpg')

        .modal#edx
          = link_to '', '#', class: 'close'
          %ul.project-images
            %li.project-image
              .image-wrapper= image_tag('edx/edx-home.jpg')
            %li.project-image
              .image-wrapper= image_tag('edx/edx-login.jpg')
            %li.project-image
              .image-wrapper= image_tag('edx/edx-courses.jpg')
            %li.project-image
              .image-wrapper= image_tag('edx/edx-course.jpg')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Design with Boston
              %span November 2011 - thoughbot Event
          %figure
            = link_to '#design-boston', class: 'show-more' do
              .image-wrapper
                = image_tag('design_boston/design-with-boston.jpg')

        .modal#design-boston
          = link_to '', '#', class: 'close'
          %ul.project-images
            %li.project-image
              .image-wrapper
                = image_tag('design_boston/design-with-boston.jpg')
