---
body_class: 'home'
---

:javascript
  analytics.page("home")

= partial "intercom"

%header.portfolio
  %article
    .title.gradient-border
      .inner-wrapper
        .avatar{style: "background-image: url(#{image_path('avatar.jpg')})"}
        %h1
          %strong Galen
          %span A passionate learner, explorer and creator.
    %nav
      = link_to 'Portfolio', '#gallery', class: 'view-gallery'
      = link_to 'LinkedIn', 'https://www.linkedin.com/in/galenfrechette',
        target: '_blank'
      = link_to 'Instagram', 'https://instagram.com/g_a_l_e_n/',
        target: '_blank'

.container
  #gallery
    %section.exhibit
      %article.intro
        .inner
          %p.center-text
            I've lead early stage startups in the conception, design and implementation of their first product and contributed to the success of high-growth VC funded startups, by using human centered, systems thinking that merges design, technology and business.

      %article.piece#respond-evaluation
        .inner
          %figcaption
            .inner
              %h2 Intercom
              = link_to 'projects/intercom-respond-evaluation' do
                Supporting product evaluation - Spring 2017
          %figure
            = link_to 'projects/intercom-respond-evaluation', class: 'show-more' do
              .image-wrapper
                = image_tag('intercom/respond-evaluation/choose-your-adventure.png')

      -# %article.piece#intercom-educate
      -#   .inner
      -#     %figcaption
      -#       .inner
      -#         %h2 Intercom
      -#         = link_to 'projects/intercom-educate' do
      -#           Product activaiton and preview - Fall 2016
      -#     %figure
      -#       = link_to 'projects/intercom-educate', class: 'show-more' do
      -#         .image-wrapper
      -#           = image_tag('intercom/educate/import-modal-1.png')

      %article.piece#segment
        .inner
          %figcaption
            .inner
              %h2 Segment
              = link_to 'projects/segment' do
                Crafting a new marketing story - Fall 2015
          %figure
            = link_to 'projects/segment', class: 'show-more' do
              .image-wrapper
                = image_tag('design_thinking_example_2.jpg')

      %article.piece#kinscape
        .inner
          %figcaption
            .inner
              %h2 Kinscape
              = link_to 'projects/kinscape' do
                Story telling for families - Spring 2014
          %figure
            = link_to 'projects/kinscape', class: 'show-more' do
              .image-wrapper= image_tag('kinscape/stories.jpeg')

      %article.piece#hound
        .inner
          %figcaption
            .inner
              %h2 Hound
              = link_to 'projects/hound' do
                Automated style checking - Winter 2015
          %figure
            = link_to 'projects/hound', class: 'show-more' do
              .image-wrapper= image_tag('hound/cover.jpg')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Wiggle Audit Tool
              = link_to 'https://github.com/frechg/wiggle-audit-tool',
                target: '_blank'  do
                Developed with Ruby on Rails - Spring 2014
          %figure
            = link_to 'https://github.com/frechg/wiggle-audit-tool',
              target: '_blank', class: 'show-more wiggle-bg'  do
              .image-wrapper
                = image_tag('wiggle_audit_tool_4.png')


      %article.piece#bluesky
        .inner
          %figcaption
            .inner
              %h2 Blue Sky
              = link_to 'projects/bluesky' do
                A whitelabel education platform - Febuary 2013
          %figure
            = link_to 'projects/bluesky', class: 'show-more' do
              .image-wrapper= image_tag('blue_sky/assessment_finish_1.png')

      %article.piece#tenant
        .inner
          %figcaption
            .inner
              %h2 Tenant.io
              = link_to 'projects/tenant' do
                4th Place, 2013 Rails Rumble
          %figure
            = link_to 'projects/tenant', class: 'show-more' do
              .image-wrapper= image_tag('tenant/cover.jpg')

      %article.piece#giftofknowledge
        .inner
          %figcaption
            .inner
              %h2 Gift of Knowledge
              = link_to 'projects/gift_of_knowledge' do
                A donation platform - January 2013
          %figure
            = link_to 'projects/gift_of_knowledge', class: 'show-more' do
              .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_school_donate.jpg')

      %article.piece#edx
        .inner
          %figcaption
            .inner
              %h2 edX
              = link_to 'projects/edx' do
                Online education from MIT and Harvard - May 2012
          %figure
            = link_to 'projects/edx', class: 'show-more' do
              .image-wrapper
                = image_tag('edx/cover.jpg')

      %article.piece#designboston
        .inner
          %figcaption
            .inner
              %h2 Design with Boston
              = link_to 'projects/design_boston' do
                A Design Meetup - November 2011
          %figure
            = link_to 'projects/design_boston', class: 'show-more' do
              .image-wrapper
                = image_tag('design_boston/design-with-boston.jpg')
