---
---

%header.portfolio
  %article
    .title.gradient-border
      .inner-wrapper
        .avatar{style: "background-image: url(#{image_path('avatar.jpg')})"}
        %h1
          %strong Galen
          %span A product designer in San Francisco, CA
    %nav
      = link_to 'Portfolio', '#gallery', class: 'view-gallery'
      = link_to 'LinkedIn', 'https://www.linkedin.com/in/galenfrechette',
        target: '_blank'
      = link_to 'Instagram', 'https://instagram.com/g_a_l_e_n/',
        target: '_blank'

.container
  #gallery
    %section.exhibit
      %article.intro
        .inner
          %p
            I’ve had the opportunity to work on and play a central role in a
            wide variety of software projects. From leading early stage startups
            in the conception, design and implementation of their first product
            offering to helping established businesses redesign, improve and grow
            existing products, I’ve always worked to apply holistic systems
            thinking that merges design, technology and business.

      %article.piece#segment
        .inner
          %figcaption
            .inner
              %h2 Segment Marketing Site
              = link_to 'projects/segment' do
                Crafting a new marketing story - Fall 2015
          %figure
            = link_to 'projects/segment', class: 'show-more' do
              .image-wrapper
                = image_tag('design_thinking_example_2.jpg')

      %article.piece#kinscape
        .inner
          %figcaption
            .inner
              %h2 Kinscape
              = link_to 'projects/kinscape' do
                Client Work - Spring 2014
          %figure
            = link_to 'projects/kinscape', class: 'show-more' do
              .image-wrapper= image_tag('kinscape/stories.jpeg')

      %article.piece#hound
        .inner
          %figcaption
            .inner
              %h2 Hound
              = link_to 'projects/hound' do
                A thoughtbot Product - Winter 2015
          %figure
            = link_to 'projects/hound', class: 'show-more' do
              .image-wrapper= image_tag('hound/cover.jpg')

      %article.piece
        .inner
          %figcaption
            .inner
              %h2 Wiggle Audit Tool
              = link_to 'https://github.com/frechg/wiggle-audit-tool',
                target: '_blank'  do
                Design and development - Spring 2014
          %figure
            = link_to 'https://github.com/frechg/wiggle-audit-tool',
              target: '_blank', class: 'show-more wiggle-bg'  do
              .image-wrapper
                = image_tag('wiggle_audit_tool_4.png')


      %article.piece#bluesky
        .inner
          %figcaption
            .inner
              %h2 Blue Sky
              = link_to 'projects/bluesky' do
                Client Work - Febuary 2013
          %figure
            = link_to 'projects/bluesky', class: 'show-more' do
              .image-wrapper= image_tag('blue_sky/assessment_finish_1.png')

      %article.piece#tenant
        .inner
          %figcaption
            .inner
              %h2 Tenant.io
              = link_to 'projects/tenant' do
                4th Place, 2013 Rails Rumble
          %figure
            = link_to 'projects/tenant', class: 'show-more' do
              .image-wrapper= image_tag('tenant/cover.jpg')

      %article.piece#giftofknowledge
        .inner
          %figcaption
            .inner
              %h2 Gift of Knowledge
              = link_to 'projects/gift_of_knowledge' do
                Client Work - January 2013
          %figure
            = link_to 'projects/gift_of_knowledge', class: 'show-more' do
              .image-wrapper= image_tag('gift_of_knowledge/giftofknowledge_school_donate.jpg')

      %article.piece#edx
        .inner
          %figcaption
            .inner
              %h2 edX
              = link_to 'projects/edx' do
                Client Work - May 2012
          %figure
            = link_to 'projects/edx', class: 'show-more' do
              .image-wrapper
                = image_tag('edx/cover.jpg')

      %article.piece#designboston
        .inner
          %figcaption
            .inner
              %h2 Design with Boston
              = link_to 'projects/design_boston' do
                A Design Meetup - November 2011
          %figure
            = link_to 'projects/design_boston', class: 'show-more' do
              .image-wrapper
                = image_tag('design_boston/design-with-boston.jpg')
